<div data-sly-use.price="com.ugamsol.core.models.Price"></div>
<section class="price-area section-gap">

				<div class="container">
					<div class="row">
						<div class="single-price col-md-12">
							<div class="top-part">
								<h1 class="package-no">${price.number}</h1>
								<h4>${price.heading}</h4>
								<p class="mt-10">${price.feature1}</p>
							</div>
                            <div class="package-list">
								<ul>
									<li>${price.feature2}</li>
									<li>${price.feature3}</li>
									<li>${price.feature4}</li>
								</ul>
							</div>
							
						</div>
                   </div>
              </div> 

  </section>            