<section class="recent-blog-area section-gap pb-5">
<div class="container" data-sly-use.blogarea="com.ugamsol.core.models.BlogArea">
					<div class="row">	
						<div class="single-recent-blog p-3">
							<div class="thumb">
								<img class="f-img img-fluid mx-auto" src="${blogarea.image}" alt="">	
							</div>							
							<a href="#">
								<h4>${blogarea.heading1}</h4>
							</a>
							<p>
								${blogarea.text}
							</p>
						</div>
                  </div>
              </div>
</section>              