<h1>display selected values</h1>
<pre data-sly-test="${properties.dropdown == 'number' && properties.phone}">Phone Number: ${properties.phone}</pre>
<pre data-sly-test="${properties.dropdown == 'address' && properties.street}">Street: ${properties.street}</pre>
<pre data-sly-test="${properties.dropdown == 'address' && properties.city}">City: ${properties.city}</pre>
<pre data-sly-test="${properties.dropdown == 'address' && properties.state}">State: ${properties.state}</pre>
<pre data-sly-test="${properties.dropdown == 'gender' && properties.gender}">Gender: ${properties.gender}</pre>
<pre data-sly-test="${properties.dropdown == 'language' && properties.english}">Language: ${properties.english}</pre>
<pre data-sly-test="${properties.dropdown == 'language' && properties.marathi}">Language: ${properties.marathi}</pre>
<pre data-sly-test="${properties.dropdown == 'language' && properties.hindi}">Language: ${properties.hindi}</pre>